body{
    background-image: url('../IMG/balones_3.jpg');
    background-color: black;
    background-attachment: fixed;
    /* background-size: 100% 100%;  Este se utiliza si es una imagen
                                  o foto para que quede en el fondo completo*/
}
.jumbotron{
    background-color: #1aa1aa;
    color:whitesmoke;
}
.panel-heading{
    background-color: #1aa1aa !important;
    color: whitesmoke!important;
}
.panel.body{
    color: yellowgreen !important;/*#2b2b2b*/
}
.nabvar {
    background-color: #1aa1aa !important;
}
#navbar li a:link, #navbar li a:visited{
    color: whitesmoke !important;
}
#navbar li a:hover, #navbar li a:active{
    color: #1ad1ff !important;
}
.navbar-brand:link, .navbar-brand:visited{
    color: #1ad1ff !important;
}
.navbar-brand:hover, .navbar-brand:active{
    color:#1ad1ff !important;
}